<!DOCTYPE html>
<html>
<head>
    <title>Репозиторий пакетов 1Script</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <style>
        .main.container {margin-top: 7em}
    </style>
</head>
<body>
    @Html.Partial("NavMenu")
    <div class="ui main container">
        @RenderBody()
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"/>
</body>
</html>