<div class="ui huge fixed borderless inverted menu">
    <div class="ui container">
        <a class="header item" asp-controller="home" asp-action="Index">HUB</a>
        <a class="item@(ViewBag.Selected == 2?" active":"")" asp-controller="packages" asp-action="Index">Список пакетов</a>
    </div>
</div>