<h1 class="ui header">Концепция</h1>
<p>Экосистема 1Script широко использует "пакеты" - повторно используемые модули кода, написанные различными разработчиками.</p>
<p>Наиболее часто применяемые пакеты собраны в библиотеку "oscript-library" и опубликованы на этом ресурсе.</p>
<p>Управление пакетами осуществляется через пакетный менеджер opm, который сам является приложением 1script.</p>